@font-face {
  font-display: swap;
  font-family: 'Echomotors Demo';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/Echomotors Demo.otf') format ('otf');
}

@font-face {
  font-display: swap;
  font-family: 'Miller Display Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Miller Display Italic.otf') format ('otf');
}

@font-face {
  font-display: swap;
  font-family: 'Miller Display Regular';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/Miller Display Regular.otf') format ('otf');
}

@font-face {
  font-display: swap;
  font-family: 'Miller Display Roman';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/Miller Display Roman.otf') format ('otf');
}

@font-face {
  font-display: swap;
  font-family: 'Oversouth Regular DEMO';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/Oversouth Regular DEMO.otf') format ('otf');
}

@font-face {
  font-display: swap;
  font-family: 'Sign45- Stamped';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/Sign45- Stamped.otf') format ('otf');
}

@font-face {
  font-display: swap;
  font-family: 'WaukeganHustle-Regular';
  font-style: normal;
  font-weight: 400;
  src: url ('../fonts/WaukeganHustle-Regular.otf') format ('otf');
}
