.hikes {
  display: flex;

  &__filters {
    width: 400px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 1.5rem 0;
  }
}
