@use '../../styles/variables' as v;

.hikes {
  display: flex;
  flex-wrap: wrap;
  margin: auto 4rem;

  &__filters {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: 1.5rem;
  }

  &__list {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
    justify-content: center;
  }
}
