$color-primary: #d97b29cb;
$color-primary-hover: #d97b29;
$color-secondary: #73bfb7a9;
$color-secondary-hover: #73bfb7;
$color-font-primary: #282c34;
$color-background: #f9f9f9;

$gutter: 1.5rem;

// tags
$tag-color-localisation: #9ba06780;
$tag-color-localisation-border: #9ba067bd;

$tag-color-difficulty: #c0e4307b;
$tag-color-difficulty-border: #c0e430;

$tag-color-time: #a5d5d080;
$tag-color-time-border: #a5d5d0;

$tag-color-distance: #e1975e7f;
$tag-color-distance-border: #e1975e;
