@use 'reset';
@use 'fonts';
@use 'variables' as v;

body {
  margin: 0;
  font-family: WaukeganHustle-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
