@use 'reset';
@use 'fonts';
@use 'variables' as v;

body {
  margin: 0;
  font-family: WaukeganHustle-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  #root {
    width: 100%;
    margin: auto;
  }
  .content {
    padding: 10px;
  }
}
