.hike {
  margin: 20px;

  .hike__header {
    margin-bottom: 20px;
  }

  .hike__tags {
    margin-top: 10px;
  }

  .hike__details {
    margin-top: 20px;
  }

  .hike__map {
    margin-top: 20px;
  }

  .hike__footer {
    margin-top: 20px;
  }
}
