.hike {
  &__header {
    padding: 1rem;
  }
  &__subtitle {
    margin-top: 1.5rem;
  }
  &__pictures {
    display: flex;

    gap: 10px;
    width: 33rem;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem;
    justify-content: center;

    &-localisation {
      border: 1.5px solid;
      padding: 0.5rem;
      border-radius: 5px;
      border-color: #9ba067bd;
      background-color: #9ba06780;
      box-shadow: 1px 1px 3px #000000;
    }
    &-difficulty {
      border: 1.5px solid;
      padding: 0.5rem;
      border-radius: 5px;
      border-color: #c0e430;
      background-color: #c0e4307b;
      box-shadow: 1px 1px 3px #000000;
    }
    &-time {
      border: 1.5px solid;
      padding: 0.5rem;
      border-radius: 5px;
      border-color: #a5d5d0;
      background-color: #a5d5d080;
      box-shadow: 1px 1px 3px #000000;
    }
    &-distance {
      border: 1.5px solid;
      padding: 0.5rem;
      border-radius: 5px;
      border-color: #e1975e;
      background-color: #e1975e7f;
      box-shadow: 1px 1px 3px #000000;
    }
  }
  &__details {
    gap: 1rem;
  }
  &__map {
    display: flex;
    justify-content: center;
    // NE PAS EFFACER afin de pouvoir se repérer quand on resize la map
    // border: 1px solid #000;
  }
}

.large__grid {
  width: 100%;
  height: 100%;
}
.section__two {
  width: 100%;
  height: 100%;
}
.large__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 0.5rem;
}
.small__picture img {
  width: 100%;
  height: 95%;
  padding-bottom: 0.5rem;
  object-fit: cover;
}

//  RESPONSIVE A DEPLACER DANS INDEX AVEC TOUT LE RESTE DU RESPONSIVE
@media screen and (max-width: 840px) {
  .hike {
    margin: 20px;

    &__header {
      margin-bottom: 20px;
    }
    &__pictures {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
    }
    &__tags {
      margin-top: 10px;
    }

    &__details {
      margin-top: 20px;
    }

    &_map {
      margin-top: 20px;
    }

    &__footer {
      margin-top: 20px;
    }
  }
}
