.header {
  align-items: center;

  &-top {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      position: fixed;
      left: 62%;
      top: 2rem;
      padding: 0.5rem 1rem;
      background-color: rgba(0, 0, 0, 0.497);
      color: white;
      text-decoration: none;
      border: none;
      border-radius: 7px;

      &:hover:not(&--active) {
        color: rgba(0, 0, 0, 0.497);
      }

      &--active {
        color: rgba(0, 0, 0, 0.497);
        border: 1px solid;
        border-radius: 3px;
        padding: 1rem;
      }
    }

    &-logo {
      width: 150px;
      margin: auto;
    }
  }
}
