.header {
  align-items: center;

  &__top {
    &-button {
      position: relative;
      left: 75%;
      top: 4rem;
      padding: 1rem;
      // background-color: rgba(47, 47, 47, 0.151);
      background-color: #73bfb7a9;
      box-shadow: 2px 2px 5px #000000;
      color: black;
      text-decoration: none;
      border: none;
      border-radius: 7px;

      &:hover:not(&--active) {
        color: rgba(47, 47, 47, 0.151);
      }

      &--active {
        color: rgba(0, 0, 0, 0.497);
        border: 1px solid;
        border-radius: 3px;
        padding: 1rem;
      }
    }

    &-logo {
      width: 220px;
      margin: auto;
      margin-bottom: 1.5rem;
    }
  }
}
