@use '../../styles/variables' as v;
.card {
  border: 1rem solid;

  &__tags {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.5rem;
  }
  &:hover {
    box-shadow:
      12px 12px 12px rgba(0, 0, 0, 0.1),
      -10px -10px 10px white;
  }
  &:active {
    animation: scale-down-center 0.2s;
  }
}

@media screen and (max-width: 840px) {
  .cards__content {
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 1rem;
    width: 80vw;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
  }

  .card {
    width: 410px;
    scroll-snap-align: start;
    // margin: auto;
  }
}
