@use '../../styles/variables' as v;

.menu {
  width: 50%;
  margin: auto;
  border-radius: 3px;
  // background-color: rgba(47, 47, 47, 0.151);
  // background-color: #d97b29cb;
  background: radial-gradient(
    circle,
    rgba(244, 167, 129, 0.475) 0%,
    #d97b29cb 100%
  );
  box-shadow: 1px 1px 5px #000000;
  padding: 1.2rem;
  text-align: center;

  &-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    font-size: larger;
    font-weight: 500;
    margin: 1.2rem;

    &:hover:not(&--active) {
      color: rgba(0, 0, 0, 0.497);
    }

    &--active {
      color: rgba(0, 0, 0, 0.497);
      border: 1px solid;
      border-radius: 3px;
      padding: 1rem;
    }
  }
}

// Hamburger menu pour la nav du tel
.hamburger-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 25px;
}
